@import '@/styles/mixin.less';

.homeWrap {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .top {
    width: 100vw;
    min-height: calc(100vh - 170px);
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-size: cover;
    z-index: 1;

    .title {
      font-size: 45px;
      font-weight: bold;
      line-height: 100px;
      height: 350px;
      margin-top: 50px;
      position: relative;
      padding-top: 210px;
      background: url('../../asset/indexPart.png') center top no-repeat;
      p {
        margin: 0;
      }
    }
    .content {
      background: url('../../asset/mid.png') center top no-repeat;
      height: calc(100vh - 570px);
      padding-top: 80px;
      .logo {
        background: url('../../asset/footer.png') center no-repeat;
        background-size: contain;
        height: 80px;
        margin-bottom: 20px;
      }
      .date, .position {
        font-size: 38px;
        line-height: 80px;
        p {
          margin: 0;
        }
      }
    }
  }

  .clear {
    clear: both;
    width: 100%;
    height: 20px;
  }

}

@media (max-width: 768px) {
  .homeWrap {
    .top {
      padding: 0 0 100px;
      .title {
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        margin: 120px 0 80px 0;
        p {
          margin: 0;
        }
      }
      .date, .position {
        font-size: 24px;
        line-height: 40px;
        p {
          margin: 0;
        }
      }
    }

  }
}